@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box;  
}

body {
  @include trueCenter;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: $yellow;
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.tsg {
  display: flex;
  flex-direction: column;
  align-items: center;
}