#particles-js {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  transition: all .20s ease;
}

.header {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
  transition: all .25s ease;
}

.toggle-section {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
}

.toggle-switch {
  height: 20px;
  width: 40px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all .25s ease;  
}

.toggle-btn {
  background: white;
  height: 10px; width: 10px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  transition: all .15s ease;
}

.toggle-switch.light-theme {
  border-color: $black;
}

.toggle-btn.light-theme {
  background: $black;
  left: 24px;
}

.title, .title a, .title-project {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .6;
  margin-bottom: -20px;
  letter-spacing: 1px; }

.headline, .project-headline {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px; }


.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.project-info {
  padding-top: 20%;
}

.header-btn {
  text-align: center;
  padding-bottom: 50px; }
  
  /* Music section */
.music {
  padding: 40px;
  color: #919191;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  bottom: 45px;
  letter-spacing: 1px;
  pointer-events: auto;
}

#spotify,
#spotify-green {
  color: $green;
}

.header.dark-theme {
  color: white;
}

#particles-js.dark-theme {
  background: $black;
}

#particles-js.light-theme {
  background: white;
}

.header.light-theme {
  color: $black;
}