.portfolio {
  color: white;
  font-family: 'Source Code Pro', monospace;
  padding-top: 80px;
  padding-bottom: 80px;
  @include borderTop;
}

.p-container {
  width: 90%;
  margin: 0 auto;
}

.portfolio-box {
  border-radius: 5px;
  width: 100%;
  display: flex;
  min-height: 320px;
  box-shadow: 0px 3px 20px -2px rgba(0, 0, 0, 0.336);
  .portfolio-info {
    width: 40%;
    min-width: 220px;
    padding: 60px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .portfolio-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
  }
  .portfolio-descrip {
    font-size: 13px;
  }
  .portfolio-btn {
    font-size: 12px;
    background: $lightGrey;
    color: $black;
    padding: 6px;
    border-radius: 3px;
    text-align: center;
    &:hover {
      background: darken($lightGrey, 15%);
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.portfolio-img {
  width: 60%;
  height: auto;
  border-radius: 0px 5px 5px 0px;
}

#discflix-box {
  background: #232232;  
}

#discflix-box .portfolio-img {
  background: url('../img/h_discflix.jpg');
  background-size: cover;
}

#soho-box {
  background: #d54859;
}

#soho-box .portfolio-img {
  background: url('../img/h_soho.jpg');
  background-size: cover;
}

#festival-box {
  background: #f5a975;
}

#festival-box .portfolio-img {
  background: url('../img/h_festival.jpg');
  background-size: cover;
}

#green-box {
  background: #669933;
}

#green-box .portfolio-img {
  background: url('../img/h_green.jpg');
  background-size: cover;
}

#scorecard-box {
  background: #cb5b5b;
}

#scorecard-box .portfolio-img {
  background: url('../img/h_scorecard.jpg');
  background-size: cover;
}

#project-box {
  background: $black;
}

#project-box .portfolio-img {
  background: url('../img/h_projects.jpg');
  background-size: cover;
}

@media screen and (max-width: 993px) {
  .row .p-box {
    width: 100%;
  }
  .portfolio-box {
    flex-direction: column-reverse;
    margin-bottom: 15px;
    .portfolio-info {
      width: 100%;
      min-width: 0px;
      margin: 0 auto;
    }
  }
  .portfolio-img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
  }
}
