.portfolio-items {
  padding-top: 80px;
  @include borderTop;
}

.portfolio-box {
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;  
  min-height: 300px;
  width: 49%;
  padding-right: 15px;
  a {
    color: white;
    border-bottom: 2px solid white;
    font-size: 14px;
    padding-bottom: 8px;
    &:hover {
      text-decoration: none;
      i {
        animation: btnHover 1.3s ease infinite;
      }
    }
    i {
      margin-left: 5px;
    }
  }
  h3 {
    font-size: 2rem;
    margin: 0;
  }
  p {
    color: rgba(255, 255, 255, 0.75);
  }
  .portfolio-img {
    width: 50%;
    margin-right: 25px;
  }
  .portfolio-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#discflix .portfolio-img {
  background: url('../img/home-discflix.png');
  background-size: cover;
}

#discflix.portfolio-box {
  background: #232232;
}

#reddit.portfolio-box {
  background: #f14018;
}

@media screen and (max-width: 960px) {
  .portfolio-box {
    width: 100%;
    margin-bottom: 30px;
  }
}

@keyframes btnHover {
  0%,100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(9px);     
  }
}

.work:hover {
  animation: grow .2s ease-out forwards;
}

@keyframes grow {
  to {
    transform: scale(1.025);
  }
}