.title a, .title-project a {
  color: #ffffff;
  opacity: 1; }
    
.img-contain {
  max-width: 1140px;
}

.loading-project {
    text-align: center;
}

/* Project Page
---------------------------*/
.title-project {
  font-size: 12px;
  padding-bottom: 15px; }

.title-project a {
  color: #464646; }

.project-headline {
  color: #464646;
}

.project-img {
  text-align: center;
}

.project-text a {
  color: $orange; }

.project-case-wrapper {
  width: 100%;
  text-align: center;
}

.project-case-title {
  padding: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.ov {
  background: $orange;  
}
.ps {
  background: $blue;
}

.rs {
  background: $green;
}

.project-text {
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Source Code Pro', monospace;  
  font-size: 16px;
  line-height: 32px;
  color: $lightBlack;
}

.language-javascript {
  margin-top: 30px;
}

.center-img {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 993px) {
  .center-img {
    flex-direction: column;
  }
}

  /* Project Style
-----------------------*/
.experiments {
  margin-bottom: 60px; }

.side-headline a {
  color: $orange;
  font-size: 16px;
  font-weight: 900;
  // text-decoration: underline;
  // padding-bottom: 4px;
  border-bottom: 2px solid $orange;
  &:hover {
    text-decoration: none;
    background: $orange;
    color: white;
    transition: all .2s
  }
}

.side-description {
  color: $lightBlack;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.9; }
  .side-description a {
    color: #f26246;
    text-decoration: underline;
    font-size: 12px; }
