.headline {
  font-family: 'Oswald', sans-serif;
  font-size: 7em;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  word-break: break-word;

  text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.3); // Default
}